<header class="header">
    <div class="header-title">
        <a routerLink="/dashboard" routerLinkActive="active">
            <h2>Dashboard</h2>
        </a>
        <button class="button menu-toggle-button" (click)="showMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>  
    
    <div class="header-actions">
        <button class="button submit-button" (click)="showRequestForm()">
            Submit request
        </button>
        <a routerLink="/settings" class="link notification-link">
            <i class="mdi mdi-bell"></i>
            <span class="notification-badge"></span>
        </a>
        <a routerLink="/" class="link logout-link" aria-describedby="Logout">
            
            <i class="mdi mdi-logout"></i>
        </a>
    </div>  
</header>
<app-dialog [visible]="showRequestDialog" (visibleChange)="showRequestDialog = $event"></app-dialog>
