.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: auto;
    max-width: 100%;
}
.dashboard-panel {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #aaa;
    border-radius: 4px;
    padding: 1.5rem;
}
@media screen and (min-width: 801px) {
    .dashboard-wrapper {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "vidget1 vidget2"
        "booking-list booking-list";
        grid-template-columns: repeat(2, 1fr);
    }
    .vidget:nth-child(1) {
        grid-area: vidget1;
    }
    .vidget:nth-child(2) {
        grid-area: vidget2;
    }
    .booking-list { 
        grid-area: booking-list;
        /* grid-area: 2 / 1 / 3 / 3; */
    }

}